<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sd.xingong.mapper.StudentMapper">

    <select id="getStudents" resultType="com.sd.xingong.pojo.Student">
        SELECT * FROM tb_student LIMIT #{startIndex} , #{pageSize};
    </select>
    <select id="studentLogin"  resultType="com.sd.xingong.pojo.Student">
        SELECT * FROM tb_student WHERE student_id = #{studentId} and password = #{password};
    </select>
    <select id="searchStudents" resultType="com.sd.xingong.pojo.Student">
        SELECT * FROM tb_student WHERE name LIKE #{name} AND student_id LIKE #{studentId} AND title LIKE #{title};
    </select>
    <select id="getAStudent" resultType="com.sd.xingong.pojo.Student">
        SELECT * FROM tb_student WHERE student_id = #{studentId};
    </select>
    <update id="updateMentorId">
        UPDATE tb_student SET mentor_id = #{teacherId} WHERE student_id = #{studentId}
    </update>
</mapper>
